body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    width:100px;
    height:100px;
    background:red;
    animation-name:colorChange;
    animation-duration:7s;
}

@keyframes colorChange{
    from{
        background:red;
    }
    to{
        background:blue;
    }
}