/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    background:white;
    width:350px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:10px;
    border:1px solid gray;
    border-radius:5px;
    font-size:16px;
}

button{
    width:100%;
    margin-top:20px;
    padding:10px;
    border:none;
    border-radius:5px;
    background:royalblue;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:blue;
}

p{
    text-align:center;
    margin-top:15px;
}

a{
    text-decoration:none;
    color:royalblue;
}

@media (max-width:500px){
    .login-box{
        width:90%;
    }
}